* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  text-align: center;
  color: #333;
}

a,
a:visited {
  outline: none;
}

a:hover {
  text-decoration: none;
}

#app {
  position: relative;
  min-height: 500px;
  padding: 32px;
  margin: 30px auto;
  background: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #ddd;
}

form {
  width: 500px;
  background: #f5f5f5;
}

ul {
  width: 350px;
  margin: 0 auto;
  list-style: none;
}

ul li {
  margin-bottom: 8px;
  border: 1px solid #ddd;
  padding: 12px 16px;
  background: #fff;
  font-weight: bold;
  text-align: left;
  border-radius: 3px;
}

ul li:hover {
  background: #f5f5f5;
  cursor: pointer;
}

.search {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 350px;
  padding: 20px;
  background: #FF7F00;
  border-radius: 3px;
}

.search input {
  font-size: 1.1em;
  width: 100%;
  padding: 5px 8px;
  line-height: 1.5em;
  border-radius: 3px;
  border: none;
}