.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.contents {
  height: calc(100% - 80px);
  overflow: scroll;
}

.section_header {
  font-family: 'Kaushan Script', cursive;
  letter-spacing: 5px;
  font-size: 35px;
  margin-bottom: 30px;
}

#about {
  display: flex;
  padding: 5% 10%;
  flex-direction: column;
}

.non-click {
  cursor: default !important;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.taufiq, .section_header {
  line-height: 1.5;
}

.taufiq:hover, .section_header:hover {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hue 2s infinite linear;
  -webkit-animation: hue 2s infinite linear;
  cursor: pointer;
}
